# work output paths:
workdir*/
exec_*/
postprocessing/

exec_spectral.mazama/

._*
*/.*
bin/

*.err
*.out
data/
#
#
*.png
*.jpg
*.dat
*.avi
*.pyc

# because this is so compiler sensitive, let's exclude .o and all other compiled objects.
*.o
*.mod

.DS_Store
._.DS_Store
*/.DS_Store
