# work output paths:
workdir*/
exec*/
postprocessing/

.vscode
.cppdefs
._*
*/.*
*.err
*.out
data/
#
#
*.png
*.jpg
*.dat
*.avi
*.pyc

# because this is so compiler sensitive, let's exclude .o and all other compiled objects.
*.o
*.mod

.DS_Store
._.DS_Store
*/.DS_Store
